body {
  background: url(pexels-freestocksorg-449751.jpg);
  background-size: cover;
  background-color: transparent;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.covidbox {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.content-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15%;
}
.row1 {
  display: flex;
  position: relative;
  left: 5%;
  /* top: -45%; */
  margin-top: 50px;
  flex-direction: row;
  border: 1px solid transparent;
  box-shadow: 0px 0px 18px 0 #0000002c;
  border-radius: 15px;
  padding: 20px;
}
.row2 {
  display: flex;
  position: relative;
  left: 5%;
  /* top: -50%; */
  margin-top: 50px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 18px 0 #0000002c;
  border-radius: 15px;
  padding: 50px;
}
.row3 {
  /* display: flex; */
  position: relative;
  left: 5%;
  /* top: -50%; */
  margin-top: 50px;
  border: 1px solid transparent;
  box-shadow: 0px 0px 18px 0 #0000002c;
  border-radius: 15px;
  padding: 50px;
}
.row3 h1 {
  text-align: center;
}
.row3-box1 {
  text-align: center;
  display: flex;
}
.row3-box1 select {
  margin: 5%;
}
.row3-box2 {
  display: flex;
  justify-content: space-around;
}
.row3-box2 div div {
  border: 1px solid black;
  /* 체크용. 데이터 받고서 지울 예정 */
}
.row3-bigbox {
  /* display: flex; */
  width: 100%;
  border: 10px solid black;
}
.row3-bigbox button {
  background-color: green;
}
.box {
  margin-right: 50px;
  text-align: center;
  justify-content: space-around;
}
.box p {
  font-size: 25px;
  position: relative;
  left: 50%;
  margin-left: 30px;
}
.definite p {
  font-size: 20px;
}
.death p {
  font-size: 20px;
}
.side-nav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 30%;
  left: 17%;
  background-color: transparent;
  padding: 20px 30px;
}
.pop-up {
  background-color: #fff;
  border-radius: 15px;
  color: #000;
  display: none;
  padding: 20px;
  min-width: 700px;
  min-height: 500px;
  margin-top: 20px;
}
.b-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 5px;
}
.pop-up .b-close i {
  font-size: 25px;
}
.content p {
  position: relative;
  left: 85%;
  font-size: 30px;
}
/*nav 관련*/
.nav-links {
  list-style: none;
}

.nav-links li {
  padding: 20px 0;
  border: 1px solid transparent;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 0px 18px 0 #0000002c;
}

.nav-links a {
  text-decoration: none;
  color: black;
}
.nav-links li:nth-child(1) {
  font-weight: bolder;
}
.nav-links li a i {
  font-size: 22px;
  margin-right: 20px;
}
